<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhh.personal.dao.ArticleMapper">
	
	<insert id="save" parameterType="Article" useGeneratedKeys="true" keyProperty="example.id">
		INSERT INTO article
		(
		title,
		url,
		img_id,
		keyword,
		state,
		create_time,
		update_time)
		VALUES
		(
		#{example.title},
		#{example.url},
		#{example.imgId},
		#{example.keyword},
		#{example.state},
		NOW(),
		NOW())
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM article
		WHERE id = #{id}
	</delete>
	
	<update id="update" parameterType="Article">
		UPDATE article
		<set >
	      <if test="example.title != null" >
	        title = #{example.title},
	      </if>
	      <if test="example.url != null" >
	        url = #{example.url},
	      </if>
	      <if test="example.imgId != null" >
	        img_id = #{example.imgId},
	      </if>
	      <if test="example.keyword != null" >
	        keyword = #{example.keyword},
	      </if>
	      <if test="example.state != null" >
	        state = #{example.state},
	      </if>
	      <if test="example.createTime != null" >
	        create_time = #{example.createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="example.uepdateTime != null" >
	        update_time = #{example.uepdateTime,jdbcType=TIMESTAMP},
	      </if>
	    </set>
	    WHERE id = #{example.id}
	</update>	
	
	<select id="getById" parameterType="Integer">
		SELECT * FROM article
		WHERE id = #{id}
	</select>
	
	<select id="getList" resultType="Article">
		SELECT * FROM article
	</select>
</mapper>