<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhh.personal.dao.AttachmentMapper">
	
	<insert id="save" parameterType="Attachment" useGeneratedKeys="true" keyProperty="example.id">
		INSERT INTO attachment
		(
		title,
		article_id,
		title,
		filename,
		url,
		create_time)
		VALUES
		(
		#{example.articleId},
		#{example.title},
		#{example.filename},
		#{example.url},
		NOW())
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM attachment
		WHERE id = #{id}
	</delete>
	
	<update id="update" parameterType="Attachment">
		UPDATE attachment
		<set >
	      <if test="example.articleId != null" >
	        article_id = #{example.articleId},
	      </if>
	      <if test="example.title != null" >
	        title = #{example.title},
	      </if>
	      <if test="example.filename != null" >
	        filename = #{example.filename},
	      </if>
	      <if test="example.url != null" >
	        url = #{example.url},
	      </if>
	      <if test="example.createTime != null" >
	        create_time = #{example.createTime,jdbcType=TIMESTAMP},
	      </if>
	    </set>
	    WHERE id = #{example.id}
	</update>	
	
	<select id="getById" parameterType="Integer">
		SELECT * FROM attachment
		WHERE id = #{id}
	</select>
	
	<select id="getList" resultType="Attachment">
		SELECT * FROM attachment
	</select>
</mapper>