<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhh.personal.dao.CommentMapper">

	<insert id="save" parameterType="Comment" useGeneratedKeys="true" keyProperty="example.id">
		INSERT INTO comment
		(
		type_id,
		content,
		parent_id,
		child_id,
		create_time)
		VALUES
		(
		#{example.typeId},
		#{example.content},
		#{example.parentId},
		#{example.childId},
		NOW())
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM comment
		WHERE id = #{id}
	</delete>
	
	<update id="update" parameterType="Comment">
		UPDATE comment
		<set >
	      <if test="example.typeId != null" >
	        type_id = #{example.typeId},
	      </if>
	      <if test="example.content != null" >
	        content = #{example.content},
	      </if>
	      <if test="example.parentId != null" >
	        parent_id = #{example.parentId},
	      </if>
	      <if test="example.childId != null" >
	        child_id = #{example.childId},
	      </if>
	      <if test="example.createTime != null" >
	        create_time = #{example.createTime,jdbcType=TIMESTAMP},
	      </if>
	    </set>
	    WHERE id = #{example.id}
	</update>	
	
	<select id="getById" parameterType="Integer">
		SELECT * FROM comment
		WHERE id = #{id}
	</select>
	
	<select id="getList" resultType="Comment">
		SELECT * FROM comment
	</select>
</mapper>